<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Noting</title>
    {% load static %}
    <link href="{% static 'bootstrap5/bootstrap.min.css' %}" rel="stylesheet">
     <style>
    /* Custom CSS to center content */
    .center-content {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh; /* Optional: Makes the content take up the full height of the viewport */
    }
  </style>
  </head>
  <body>
    {% include 'common/menu.html' %}
    
         
        {% if section == 'search_noting' %}
                        <div class="container-fluid">
                          <div class="row">
                                 {% include 'common/section.html' %} 
                                
                                <div class="col-12 text-center"> 
                                  <h1 class="display-6">SEARCH NOTING</h1>
                                  {% if messages %}
                                    {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                            <div class="alert alert-danger">{{ message }}</div>
                                        {% elif message.tags == 'success' %}
                                            <div class="alert alert-success">{{ message }}</div>
                                        {% endif %}
                                    {% endfor %} 
                                  {% endif %}   
                                  <form method="post" class="needs-validation">
                                    {% csrf_token %} 
                                    <table class="table">
                                        <tr>
                                            <th style="width: 150px;">SEARCH BOX</th> 
                                            <td><input type="text" name="search_by_noting_no" class="form-control" placeholder="Search via Noting Number" required/></td>
                                            <td style="width: 150px;"><input type="submit" name="search_noting_btn" class="btn btn-dark" value="Search"/></td> 
                                        </tr>
                                    </table><br>
                                  </form>
                                  
                                  
                                  <div class="border bg-light rounded-4">
                                    <div class="justify-content-center" style="margin:20px">
                                        <div class="row">
                                         
                                          <table class="table table-sm table-light" style="font-size: 13px;">
                                            <thead class="table-primary">
                                                <tr>
                                                  <th>S.no</th>
                                                  <th>Noting No</th>
                                                  <th>Title</th>
                                                  <th>Noting Document</th>
                                                  <th>DAK Document</th>
                                                  <th>Comments</th>
                                                  <th>Is Opened</th>
                                                  <th>Is Forwarded</th>
                                                  <th>Action</th>
                                                  <th>Status</th>
                                                </tr>
                                              </thead> 
                                              <tbody>
                                                  {% for noting in notings %} 
                                                      <tr>
                                                          <th>{{ noting.id }}</th>
                                                          <th>{{ noting.noting__noting_no }}</th>
                                                          <td>{{ noting.noting__title }}</td>
                                                          <td>{{ noting.noting__filename_doc }}</td>
                                                          <td>{{ noting.noting__filename_dak_doc }}</td> 
                                                          <td>{{ noting.noting__comment }}</td> 
                                                          <td>
                                                              {% if noting.is_opened == 1 %}
                                                                <b class="text-success">Opened ✔️</b>
                                                              {% elif noting.is_opened == 0 %}
                                                                <b class="text-dark">Pending ⚠️</b> 
                                                              {% else %}
                                                                Unknown
                                                              {% endif %}
                                                          </td>
                                                          <td>
                                                              {% if noting.is_forwarded == 1 %}
                                                                <b class="text-success">Yes ✔️</b>
                                                              {% elif noting.is_forwarded == 0 %}
                                                                <b class="text-dark">No</b> 
                                                              {% else %}
                                                                Unknown
                                                              {% endif %}
                                                            </td> 
                                                            <td>
                                                    
                                                                <a href="{% url 'admin-search-noting-view' noting.noting__id %}" class="btn btn-sm btn-outline-dark">View</a> 
                                                            </td>  
                                                            <td>
                                                                {% if noting.status == 0 %}
                                                                 <b class="text-danger">Inactive</b>
                                                                {% elif noting.status == 1 %}
                                                                  <b class="text-success">Active</b> 
                                                    
                                                                {% endif %}
                                                            </td>
                                                  {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>  
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div> 
        {% endif %}  


        {% if section == 'search_noting_view' %}

                    <div class="container">
                    <div class="row">
                           {% include 'common/section.html' %}
                           
                          <div class="col-12 text-center">

                            <!-- Display Noting Number -->
                            {% if noting_with_extension %}
                            <h1 class="display-6">
                                <b>SEARCH VIEW NOTING | {{ noting_with_extension.noting.noting_no }}</b>
                                <a href="javascript:void(0);" class="btn btn-sm btn-outline-dark" onclick="window.print(); return false;">
                                    Print
                                </a>
                            </h1>
                            {% else %}
                            <h1 class="display-6"><b>No Noting Found</b></h1>
                            {% endif %} 

                            {% if messages %} 
                              {% for message in messages %}
                                  {% if message.tags == 'error' %}
                                      <div class="alert alert-danger">{{ message }}</div>
                                  {% elif message.tags == 'success' %}
                                      <div class="alert alert-success">{{ message }}</div>
                                  {% endif %}
                              {% endfor %} 
                            {% endif %}   
                            <div class="border bg-light rounded-4">
                              <div class="justify-content-center" style="margin:20px">
                                  <div class="row"> 
                                        

                                      <!-- Second Table: File Previews -->
                                        <table class="table table-sm table-light" style="font-size: 13px;">
                                            <thead class="table-primary">
                                                <tr>
                                                    <th>Noting Document</th>
                                                    <th>Dak Document</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if noting_with_extension %}
                                                <tr>
                                                    <td id="documentContainer1" style="border: 2px dashed #aaa;">
                                                        <div class="row">
                                                            <center>
                                                                <div class="col-5">
                                                                    <a href="{{ MEDIA_URL }}{{ noting_with_extension.noting.filename_doc }}" class="btn btn-sm btn-outline-dark" download>
                                                                        Download - {{ noting_with_extension.noting.filename_doc }} 
                                                                    </a>
                                                                    
                                                                </div> 
                                                            </center>
                                                        </div><br>
                                                    </td>
                                                    <td id="documentContainer2" style="border: 2px dashed #aaa;">
                                                        <div class="row">
                                                            <center>
                                                                <div class="col-5">
                                                                    <a href="{{ MEDIA_URL }}{{ noting_with_extension.noting.filename_dak_doc }}" class="btn btn-sm btn-outline-dark" download>
                                                                        Download - {{ noting_with_extension.noting.filename_dak_doc }} 
                                                                    </a>
                                                                   
                                                                </div>
                                                            </center>
                                                        </div><br>
                                                    </td>
                                                </tr>
                                                <script>
                                                    document.addEventListener('DOMContentLoaded', function() {
                                                        renderDocument('documentContainer1', '{{ MEDIA_URL }}{{ noting_with_extension.noting.filename_doc }}', '{{ noting_with_extension.file_doc_extension }}'); 
                                                        renderDocument('documentContainer2', '{{ MEDIA_URL }}{{ noting_with_extension.noting.filename_dak_doc }}', '{{ noting_with_extension.file_dak_doc_extension }}');
                                                    });
                                                </script>
                                                {% else %}
                                                <tr>
                                                    <td colspan="2">No files found.</td>
                                                </tr>
                                               
                                                {% endif %}
                                            </tbody>
                                        </table>
                                         
                                        <!-- Third Table: User Role, Comments, Digital Signature -->
                                        <table class="table table-sm table-light" style="font-size: 13px;">
                                            <thead class="table-primary">
                                                <tr>
                                                    <th>USER ROLE or USER TYPE</th>
                                                    <th>COMMENTS</th>
                                                    <th>DIGITAL SIGNATURE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item3 in notings_map %}
                                                <tr>
                                                    <td>{{ item3.to_user_name }}</td>
                                                    <td>{{ item3.message }}</td>
                                                    <td>{{ item3.digital_signature }}</td> 
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                    <td colspan="3">No files found.</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                  </div>  
                              </div>
                            </div>
                            
                      </div>
                    </div>
                    </div> 

        {% endif %} 


        {% if section == 'monitoring_noting' %} 
        <div class="container-fluid">
          <div class="row">
                 {% include 'common/section.html' %}
                <h4 class="text-success">Total Noting : {{noting_counts.total}}, </h4>
                <h4 class="text-success">Forwarded Noting : {{noting_counts.forwarded}}, </h4>
                <div class="col-12 text-center">
                  <h1 class="display-6">MONITORING NOTINGS</h1> 
                  {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% elif message.tags == 'success' %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% endif %}
                    {% endfor %} 
                  {% endif %}   
                  <div class="border bg-light rounded-4">
                    <div class="justify-content-center" style="margin:20px">
                        <div class="row">
                         
                          <table class="table table-sm table-light" style="font-size: 13px;">
                            <thead class="table-primary">
                                <tr>
                                    <th>S.no</th>
                                    <th>Noting No</th>
                                    <th>Title</th>
                                    <th>Noting Document</th>
                                    <th>DAK Document</th>
                                    <th>Comments</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th>Users</th>
                                    <th>Action</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for noting in notings %}
                                    <tr>
                                        <th>{{ noting.id }}</th>
                                        <th>{{ noting.noting_no }}</th>
                                        <td>{{ noting.title }}</td>
                                        <td>
                                            <a href="{{ MEDIA_URL }}{{ noting.filename_doc }}" class="btn btn-sm btn-outline-dark" download>{{ noting.filename_doc }} - Download</a>
                                           
                                        </td>
                                        <td>
                                            <a href="{{ MEDIA_URL }}{{ noting.filename_dak_doc }}" class="btn btn-sm btn-outline-dark" download>{{ noting.filename_dak_doc }} - Download</a>
                                           
                                        </td>
                                        <td>{{ noting.comment }}</td>
                                        <td>
                                          {{ noting.created }}
                                        </td>
                                        <td>
                                          {{ noting.updated }}
                                        </td>
                                        <td>
                                            {% for user in noting.users %}
                                                {{ user }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <a href="{% url 'admin-search-noting-view' noting.id %}" class="btn btn-sm btn-outline-dark">View</a>
                                        </td>
                                        <td>
                                            {% if noting.status == 0 %}
                                                <b class="text-danger">Inactive</b>
                                            {% elif noting.status == 1 %}
                                                <b class="text-success">Active</b>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                       <td colspan="11">
                                                <h3>Noting Forwarded Details: {{ noting.noting_no }}</h3>
                                                <table class="table table-sm table-light" style="font-size: 13px;">
                                                    <thead class="table-dark">
                                                        <tr>
                                                            <th>S.no</th>
                                                            <th>Noting No</th>
                                                            <th>Title</th>
                                                            <th>Comments</th>
                                                            <th>Digital Signature</th>
                                                            <th>Status</th>
                                                            <th>From User</th>
                                                            <th>To User</th>
                                                            <th>Is Opened</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                            {% for detail in noting.noting_map_detail %}
                                                                <tr>
                                                                    <td>{{ detail.id }}</td>
                                                                    <td>{{ detail.noting__noting_no }}</td>
                                                                    <td>{{ detail.noting__title }}</td>
                                                                    <td>{{ detail.message }}</td>
                                                                    <td>{{ detail.noting__digital_signature }}</td> 
                                                                    <td>
                                                                        {% if detail.status == 0 %}
                                                                            <b class="text-danger">Inactive</b>
                                                                        {% elif detail.status == 1 %}
                                                                            <b class="text-success">Active</b>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>{{ detail.from_user_name }}</td>
                                                                    <td>{{ detail.to_user_name }}</td>
                                                                    <td>
                                                                        {% if detail.is_opened == 1 %}
                                                                            <b class="text-success">Opened ✔️</b>
                                                                        {% elif detail.is_opened == 0 %}
                                                                            <b class="text-dark">Pending ⚠️</b>
                                                                        {% else %}
                                                                            Unknown
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                       
                                                    </tbody>
                                                </table>
                                       </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="11">No notings found.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        
                        
                        
                        </div>  
                    </div>
                  </div>
                  
            </div>
          </div>
        </div> 
        {% endif %}                 
        
          
    

    <div class="modal fade" id="openModal">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Use Only Opened Documents</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table table-responsive" style="font-size:13px">
              <thead class="table-primary">
                  <tr>
                    <th>Select</th>
                    <th>From</th>
                    <th>Message</th>
                    <th>File</th>
                    <th>Sended</th>
                    <th>Is Opened</th> 
                    <th>Is Forwarded</th> 
                    <th>Status</th>
                  </tr>
              </thead>
              <tbody>
                 {% for msg in messagesObj %}
                 <tr>
                    <td> 
                      {% if section == 'add' %}
                         
                          {% if msg.is_opened == 1 %} 
                           <input type="checkbox" class="documentsCheckbox" value="{{ msg.document_id }}"/>
                          {% endif %}   
                          {% if msg.is_opened == 0 %}  
                           <input type="checkbox" class="documentsCheckbox" value="{{ msg.document_id }}" disabled />
                          {% endif %} 
                     
                      {% endif %}

                      {% if section == 'edit' %} 
                           {% for doc in correspondence.documents %}  
                          {% if msg.is_opened == 1 %} 
                           <input type="checkbox" class="documentsCheckbox" value="{{ msg.document_id }}" {% if msg.document_id == pk.doc %}checked{% endif %}/>
                          {% endif %}   
                          {% if msg.is_opened == 0 %}   
                           <input type="checkbox" class="documentsCheckbox" value="{{ msg.document_id }}" disabled />
                          {% endif %} 
                      {% endfor %}
                      {% endif %}
                      
                    </td>
                    <td>{{ msg.from_user.username }}</td>
                    <td>{{ msg.message }}</td>
                    <td>{{ msg.document.title }} | {{ msg.document.filename }}</td>
                    <td>{{ msg.created }}</td>
                     <td>
                        {% if msg.is_opened == 1 %}
                          <b class="text-success">Opened ✔️</b>
                        {% elif msg.is_opened == 0 %}
                          <b class="text-dark">Pending ⚠️</b> 
                        {% else %}
                          Unknown
                        {% endif %}
                      </td>
                      <td>
                        {% if msg.is_forwarded == 1 %}
                          <b class="text-success">Yes</b>
                        {% elif msg.is_forwarded == 0 %}
                          <b class="text-dark">No</b> 
                        {% else %}
                          Unknown
                        {% endif %}
                      </td>  
                      <td>  
                        {% if msg.status == 1 %}
                          <b class="text-success">Active</b>
                        {% elif msg.status == 2 %}
                          <b class="text-dark">Inactive</b>  
                        {% else %}
                          Unknown
                        {% endif %}
                      </td> 
                  </tr>
                  {% endfor %} 
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <a href="javascript:void(0)" class="btn btn-primary addSelectedDoc">Add Selected Documents</a> 
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'bootstrap5/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <script src="{% static 'js/script.js' %}"></script> 
     <script src="{% static 'js/pdf.min.js' %}"></script>  
     <script src="{% static 'js/pdf.worker.min.js' %}"></script>  
     <script>
      function renderDocument(containerId, fileUrl, fileExtension) {
          const container = document.getElementById(containerId);

          if (fileExtension === 'pdf') {
              const canvas = document.createElement('canvas');
              container.appendChild(canvas);

              pdfjsLib.getDocument(fileUrl).promise.then(pdfDoc => {
                  return pdfDoc.getPage(1);
              }).then(page => {
                  const viewport = page.getViewport({ scale: 1 });
                  const canvasContext = canvas.getContext('2d');
                  canvas.width = viewport.width;
                  canvas.height = viewport.height;
                  const renderContext = { canvasContext, viewport };
                  return page.render(renderContext).promise;
              }).catch(error => {
                  console.error('Error loading PDF:', error);
                  container.innerHTML = '<p>Error loading PDF.</p>';
              });

          } else if (['jpg', 'png'].includes(fileExtension)) {
              const img = document.createElement('img');
              img.src = fileUrl;
              img.style.maxWidth = '100%';
              img.style.height = 'auto';
              container.appendChild(img);

          } else if (fileExtension === 'docx') {
              const iframe = document.createElement('iframe');
              iframe.src = `https://view.officeapps.live.com/op/embed.aspx?src=${encodeURIComponent(fileUrl)}`;
              iframe.width = '100%';
              iframe.height = '500px';
              container.appendChild(iframe);

          } else {
              container.innerHTML = '<p>Unsupported file format.</p>';
          }
      }
  </script>   
  </body>
</html>